.container{
	display: flex;

}

a{

	margin-top: 30px;

	margin-left: 100px;
}

.iphone:hover {

color: red;
transition: 0.5s;
}

span{

	color: red;

}


.phone{
margin-top: 30px;
margin-left: 300px;

}


.contacts{

	margin-top:30px;
	margin-left: 200px;
}